.footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer{
    /* background: #6E06F2; */
    margin-top: 1rem;
    
}
.footer ul li{
    list-style: none;
    position: relative;
    top: 2rem;
    /* margin-top: 2rem; */
    margin: 5px;
}